## String
- String is a sequence of characters that are treated as a single data item.

In [1]:
# Example:

a = "Apple"
type(a)

str

### String operators
- Concatenation
- Repetition
- Indexing and Slicing
- Membership

#### Concatenation
- Adding two or more strings to form a single string.

In [9]:
# Example:

a = "Hello!"
b = "Ram"

a + " " + b

'Hello! Ram'

#### Repetition
- Repeat a particular string

In [21]:
# Example:

a = "Sorry! "
a*10

'Sorry! Sorry! Sorry! Sorry! Sorry! Sorry! Sorry! Sorry! Sorry! Sorry! '

#### Indexing and Slicing

In [ ]:
# Example:

a = "ABCDEF"

# positive indexing:
print(a[2])

# negative indexing:
print(a[-2])

C
E

In [50]:
# Example:

a = "0123456789"

# positive slicing:
print(a[2:10])
print(a[9:])
print(a[:5])

# negative slicing:
print(a[-10:-1])
print(a[-10:])
print(a[:-5])

# slice full string:
print(a[:])

23456789
9
01234
012345678
0123456789
01234
0123456789

#### Membership

In [53]:
a = "lion"

# in:
print("i" in a)
print("j" in a)

# not in:
print("i" not in a)
print("j" not in a)

True
False
False
True

### String functions

In [ ]:
# print():
a = "Lion"
print(a)

Lion

In [ ]:
# len():
a = "lion"
len(a)

4

In [58]:
# bool():
a = "Lion"
bool(a)

True

In [ ]:
# ascii():
# We see that in these examples, all the non-ASCII characters have been escaped, 
# i.e. their encoded code gets displayed by using the ascii() method.
ascii('யு vanesh123')

"'\\u0baf\\u0bc1 vanesh123'"

In [ ]:
# ord() written the 
ord("a")

97

In [ ]:
# chr() written the character when the ascii int value is given as input:
chr(97)

'a'

In [ ]:
# enumerate():
a = "owl"
for i,v in enumerate(a):
    print(i,v)

0 o
1 w
2 l

In [100]:
# int():
a = '7896'
int(a)

7896

In [101]:
# float():
a = '876.6846'
float(a)

876.6846

In [145]:
# list():
a = 'apple'
list(a)

['a', 'p', 'p', 'l', 'e']

In [150]:
# id():
a = "king"
id(a)

1933841743664

In [104]:
# type():
a = "tiger"
type(a)

str

In [ ]:
# map()
list(map(int, "789"))

[7, 8, 9]

In [125]:
# hash():
a = "what is your name?"
hash(a)

1527788624700364033

### String methods

In [ ]:
# capitalize():
# Converts the first character to upper case

a = "apple"
a.capitalize()

'Apple'

In [ ]:
# count():
# Returns the number of times a specified value occurs in a string

a = "banana"
a.count('a')

3

In [ ]:
# startswith():
# Returns true if the string starts with the specified value

a = "pineapple"
a.startswith("p")

True

In [ ]:
# endswith():
# Returns true if the string ends with the specified value

a = "apple"
a.endswith("e")

True

In [ ]:
# isalnum():
# Returns True if all characters in the string are alphanumeric

a = "789apple"
a.isalnum()

True

In [ ]:
# isaplha():
# Returns True if all characters in the string are in the alphabet

a = "cbkhaVGS"
a.isalpha()

True

In [ ]:
# isdecimal():
# Returns True if all characters in the string are decimals

a = "0869"
a.isdecimal()

True

In [ ]:
# isdigit():
# Returns True if all characters in the string are digits

a = "4765"
a.isdigit()

True

In [ ]:
# isnumeric():
# Returns True if all characters in the string are numeric

a = "7612"
a.isnumeric()

True

In [ ]:
# islower():
# Returns True if all characters in the string are lower case

a = "banana"
a.islower()

True

In [ ]:
# isupper():
# Returns True if all characters in the string are upper case

a = "APPLE"
a.isupper()

True

In [ ]:
# istitle():
# Returns True if the string follows the rules of a title

a = "An Apple A Day Keeps A Doctor Away"
a.istitle()

True

In [230]:
# isascii():
# Returns True if all characters in the string are ascii characters

a = "భారతదేశం"
a.isascii()

False

In [233]:
# isspace():
# Returns True if all characters in the string are whitespaces

a = "  "
a.isspace()

False

In [ ]:
# lower():
# Converts a string into lower case

a = "An Apple a day keeps a Doctor away"
a.lower()

'an apple a day keeps a doctor away'

In [ ]:
# upper():
# Converts a string into upper case

a = "An Apple a day keeps a Doctor away"
a.upper()

'AN APPLE A DAY KEEPS A DOCTOR AWAY'

In [ ]:
# title():
# Converts the first character of each word to upper case

a = "An Apple a day keeps a Doctor away"
a.title()

'An Apple A Day Keeps A Doctor Away'

In [ ]:
# strip():
# Returns a trimmed version of the string

a = " apple is a red color fruit  "
a.strip()

'apple is a red color fruit'

In [ ]:
# split():
# Splits the string at the specified separator, and returns a list

a = "Money-makes-many-thing"
a.split("-")

['Money', 'makes', 'many', 'thing']

In [ ]:
# replace():
# Returns a string where a specified value is replaced with a specified value

a = "Money-makes-many-thing"
a.replace("-"," ")

'Money makes many thing'

In [ ]:
# find():
# Searches the string for a specified value and returns the position of where it was found

a = "Mango"
a.find("M")

0

In [ ]:
# expandtab():
# Sets the tab size of the string

a = "Mango\tBanana"
a.expandtabs()

'Mango   Banana'

In [ ]:
# join():
# Converts the elements of an iterable into a string

a = ["apple","is","good","for","health"]
" ".join(a)

'apple is good for health'

In [269]:
# swapcase():
# Swaps cases, lower case becomes upper case and vice versa

a = "Apple"
a.swapcase()

'aPPLE'