## String
- String is a sequence of characters that are treated as a single data item.

In [1]:
# Example:

a = "Apple"
type(a)

str

### String operators
- Concatenation
- Repetition
- Indexing and Slicing
- Membership

#### Concatenation
- Adding two or more strings to form a single string.

In [9]:
# Example:

a = "Hello!"
b = "Ram"

a + " " + b

'Hello! Ram'

#### Repetition
- Repeat a particular string

In [21]:
# Example:

a = "Sorry! "
a*10

'Sorry! Sorry! Sorry! Sorry! Sorry! Sorry! Sorry! Sorry! Sorry! Sorry! '

#### Indexing and Slicing

In [ ]:
# Example:

a = "ABCDEF"

# positive indexing:
print(a[2])

# negative indexing:
print(a[-2])

C
E

In [50]:
# Example:

a = "0123456789"

# positive slicing:
print(a[2:10])
print(a[9:])
print(a[:5])

# negative slicing:
print(a[-10:-1])
print(a[-10:])
print(a[:-5])

# slice full string:
print(a[:])

23456789
9
01234
012345678
0123456789
01234
0123456789

#### Membership

In [53]:
a = "lion"

# in:
print("i" in a)
print("j" in a)

# not in:
print("i" not in a)
print("j" not in a)

True
False
False
True

### String functions

In [ ]:
# print():
a = "Lion"
print(a)

Lion

In [ ]:
# len():
a = "lion"
len(a)

4

In [58]:
# bool():
a = "Lion"
bool(a)

True

In [144]:
# ascii():
# We see that in these examples, all the non-ASCII characters have been escaped, 
# i.e. their encoded code gets displayed by using the ascii() method.
ascii('யு vanesh123')

"'\\u0baf\\u0bc1 vanesh123'"

In [ ]:
# ord() written the 
ord("a")

97

In [ ]:
# chr() written the character when the ascii int value is given as input:
chr(97)

'a'

In [ ]:
# enumerate():
a = "owl"
for i,v in enumerate(a):
    print(i,v)

0 o
1 w
2 l

In [100]:
# int():
a = '7896'
int(a)

7896

In [101]:
# float():
a = '876.6846'
float(a)

876.6846

In [145]:
# list():
a = 'apple'
list(a)

['a', 'p', 'p', 'l', 'e']

In [150]:
# id():
a = "king"
id(a)

1933841743664

In [104]:
# type():
a = "tiger"
type(a)

str

In [ ]:
# map()
list(map(int, "789"))

[7, 8, 9]

In [125]:
# hash():
a = "what is your name?"
hash(a)

1527788624700364033

### String methods